.circle {
  position: relative;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background-color: w;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.logo {
  position: absolute;
  width: 150px;
  height: 150px;
  background-image: url("https://github.com/OnnPoynt/BiSTE/blob/main/image_files/gradiation_sample_biste.png?raw=true");
  background-size: cover;
  border-radius: 50%;
  z-index: 2;
}

.text {
  position: absolute;
  width: 100%;
  height: 100%;
  animation: rotateText 10s linear infinite;
  display: flex;
  justify-content: center;
  align-items: center;
}

@keyframes rotateText {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.text span {
  position: absolute;
  left: 50%;
  font-size: 1.2em;
  color: white;
  transform-origin: 0 100px; /* Controls distance from center */
  text-transform: uppercase;
  font-family: sans-serif;
}
